<article id="post-container" class="post container">

	<div class="title">

		<h1 id="post-headline">
			<a href="/api/posts/{{id}}">{{user_id}}</a>
		</h1>

		<h3 id="post-author">Author: {{date}}</h3>

		<span id="post-user-created">Posted by Bookworm:
			{{user.username}}
			on
			{{address}}</span>

		<p id="post-review">{{time}}</p>
		<p id="post-review">{{min_price}}</p>
		<p id="post-review">{{guests}}</p>

	</div>

</article>