<article id="post-container" class="post container">

	<div class="title">

		<h3 id="post-user-created">Event for
			{{client_name}}
			on
			{{date}}
		</h3>

		<p id="post-review">Client Email: {{client_email}}</p>
		<p id="post-review">Client phone number: {{client_phone}}</p>
		<p id="post-review">Event start time: {{time}}</p>
		<p id="post-review">Base price for selected services: {{min_price}}</p>
		<p id="post-review">Number of guests: {{guests}}</p>
		<p id="post-review">Event address: {{address}}</p>
		{{!-- <p id="post-review">Client email: {{user.email}}</p> --}}

	</div>

</article>